@import "src/scss/mixins";

.burger-navigation {
  background-color: #fff;
  border-top: .1rem solid rgba(0, 0, 0, 0.05);
  border-bottom: .1rem solid rgba(0, 0, 0, 0.05);
  display: none;
  left: 0;
  list-style: none;
  position: absolute;
  top: 5.5rem;
  width: 100%;
  z-index: 1;

  @include phone-breakpoint {
    display: block;
  }
}
