@import "src/scss/mixins";

.navigation {
  box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .1);
  height: 5.5rem;
  padding:  0 2rem;
  position: relative;

  @include phone-breakpoint {
    display: flex;
    justify-content: flex-end;
  }

  &__tabs {
    display: flex;
    flex-direction: row;
    height: 100%;

    @include phone-breakpoint {
      display: none;
    }

    a {
      text-decoration: none;
    }
  }

  &__tab {
    align-items: center;
    color: #000;
    font-size: 1.3rem;
    display: flex;
    height: 100%;
    padding: 0 2rem;

    &:hover {
      background-color: lightgrey;
    }
  }

  &__toggle-open {
    display: none;
    align-items: center;
    font-size: 3.5rem;
    cursor: pointer;

    @include phone-breakpoint {
      display: flex;
    }
  }
}
