@import "src/scss/mixins";

.infinite-images-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-auto-rows: calc((100vh - 4rem) / 3);
  padding: 2rem;

  @include desktop-breakpoint {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }

  @include tablet-breakpoint {
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    padding: 1rem;
  }

  @include phone-breakpoint {
    grid-template-columns: 100%;
  }

  &__loader {
    grid-column: 1 / -1;

    &--center {
      left: 50%;
      position: fixed;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__loader-spinner {
    &--bottom {
      left: 50%;
      position: absolute;
      top: 50%;
    }
  }
}

.empty-message {
  padding: 2rem;
  font-size: 1.3rem;
}
