.image-card {
  $_this: &;

  align-items: center;
  border-radius: .5rem;
  box-shadow: .2rem .2rem .2rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &:hover,
  &:focus,
  &:focus-within {
    #{$_this}__hover-text {
      opacity: 1;
    }
  }

  &__hover-text {
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    opacity: 0;
    padding: 2rem 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: .3s;
    width: 100%;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    max-width: 100%;
    padding: 0 2rem;
    position: relative;

    &::after {
      background-color: #fff;
      bottom: -1.2rem;
      content: "";
      height: .2rem;
      left: 50%;
      position: absolute;
      transform: translate(-50%, 0);
      width: 50%;
    }
  }

  &__title-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__owner-name {
    margin: 1rem 0;
  }

  &__button-loader-wrapper {
    align-items: center;
    display: flex;
    height: 3.2rem;
    margin-top: 2rem;
  }

  &__favourite-button {
    background-color: transparent;
    border: .1rem solid rgba(255, 255, 255, .4);
    border-radius: 2rem;
    color: #fff;
    height: 100%;
    padding: 0 1.3rem;
  }

  &__favourite-loader {
    height: 100%;
  }

  &__favourite-success-text {
    font-size: 1.3rem;
  }
}
