.loader {
  position: relative;

  &__spinner {
    animation: spin 1.2s infinite linear;
    border: .3rem solid rgba(0, 0, 0, .6);
    border-right-color: transparent;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;

    &--light {
      border-color: #fff;
      border-right-color: transparent;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}