@mixin phone-breakpoint {
  @media (max-width: 600px) { @content; }
}

@mixin tablet-breakpoint {
  @media (max-width: 900px) { @content; }
}

@mixin desktop-breakpoint {
  @media (max-width: 1200px) { @content; }
}
